.logoutButton{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.loggedUser {
    position: absolute;
    top: 19px;
    right: 135px;
    font-size: 18px;
}

.navMenu {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 25px;
}

.header{
    width: 100%;
    font-size: 25px;
}

.loginBox {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.button{
    font-size: 18px;
}

.disabled{
    pointer-events: none;
    cursor: default;
    color: gray;
}
